body {
  padding-top: 50px; }

.tag-amount-panel {
  margin-top: 5px; }

.custom-tag-amount-container {
  margin-top: 5px; }
  .custom-tag-amount-container form input {
    float: left;
    width: 150px;
    margin-right: 5px; }
